.page-container.customer-stories
  .container
    .row.u-flex
      .col-md-5.u-flex.u-vert-center
        %img.customer-logo{ src: "/images/case_study_logos/trek10-logo.svg", alt: "Trek10 Logo svg" }

        %h4 Information Technology
        %h3 Trek10 provides radical visibility to clients

        .btn-group
          %a.btn.cta-btn.orange.margin-top20{ href: "/customers/trek10/" } Read the Case Study

      .col-md-6.col-md-offset-1.u-padding-left-0.hidden-sm.hidden-xs
        .slide-media
          .slide-media-bg{ style: "background-image: url('/images/blogimages/trek10-bg.png')" }

    .row.u-flex
      .col-md-5.col-md-offset-1.col-md-push-6.u-flex.u-vert-center
        %img.customer-logo{ src: "/images/customers/ticketmaster.svg", alt: "Ticketmaster Logo svg" }

        %h4 Entertainment
        %h3 How GitLab CI supported Ticketmaster’s ramp up to weekly mobile releases

        .btn-group
          %a.btn.cta-btn.orange.margin-top20{ href: "/2017/06/07/continous-integration-ticketmaster/" } Read the Case Study
      .col-md-6.col-md-pull-6.u-padding-right-0.hidden-sm.hidden-xs
        .slide-media.slide-media--alt
          .slide-media-bg{ style: "background-image: url('/images/customers/ticketmaster-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.u-flex.u-vert-center
        %img.customer-logo{ src: "/images/customers/cncf.svg", alt: "Cloud Native Computing Foundation Logo svg" }

        %h4 Information Technology
        %h3 The Cloud Native Computing Foundation eliminates complexity with a unified CI/CD system

        .btn-group
          %a.btn.cta-btn.orange.margin-top20{ href: "/customers/cncf/" } Read the Case Study

      .col-md-6.col-md-offset-1.u-padding-left-0.hidden-sm.hidden-xs
        .slide-media
          .slide-media-bg{ style: "background-image: url('/images/customers/cncf-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.col-md-offset-1.col-md-push-6.u-flex.u-vert-center
        %img.customer-logo{ src: "/images/case_study_logos/worldline-logo.svg", alt: "Worldline Logo svg" }

        %h4 Financial Services
        %h3 Worldline hosts 14,500 projects and has 3,000 active users on their GitLab platform

        .btn-group
          %a.btn.cta-btn.orange.margin-top20{ href: "/customers/worldline/" } Read the Case Study
      .col-md-6.col-md-pull-6.u-padding-right-0.hidden-sm.hidden-xs
        .slide-media.slide-media--alt
          .slide-media-bg{ style: "background-image: url('/images/blogimages/worldline-case-study-image.jpg')" }

    .row.u-flex
      .col-md-5.u-flex.u-vert-center
        %img.customer-logo{ src: "/images/case_study_logos/equinix-logo.svg", alt: "Equinix Logo svg" }

        %h4 Technology
        %h3 Equinix increases the agility of their DevOps teams with self-serviceability and automation

        .btn-group
          %a.btn.cta-btn.orange.margin-top20{ href: "/customers/equinix/" } Read the Case Study

      .col-md-6.col-md-offset-1.u-padding-left-0.hidden-sm.hidden-xs
        .slide-media
          .slide-media-bg{ style: "background-image: url('/images/customers/equinix-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.col-md-offset-1.col-md-push-6.u-flex.u-vert-center
        %img.customer-logo{ src: "/images/case_study_logos/uw-logo.svg", alt: "University of Washington Logo svg" }

        %h4 Education
        %h3 The Paul G. Allen Center for Computer Science & Engineering gains control and flexibility to easily manage 10,000+ projects

        .btn-group
          %a.btn.cta-btn.orange.margin-top20{ href: "/customers/uw/" } Read the Case Study
      .col-md-6.col-md-pull-6.u-padding-right-0.hidden-sm.hidden-xs
        .slide-media.slide-media--alt
          .slide-media-bg{ style: "background-image: url('/images/customers/univ-washington-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.u-flex.u-vert-center
        %img.customer-logo{ src: "/images/case_study_logos/cern-supplier-logo.svg", alt: "CERN Supplier logo" }

        %h4 Science & Research
        %h3 Particle physics laboratory uses GitLab to connect researchers from across the globe

        .btn-group
          %a.btn.cta-btn.orange.margin-top20{ href: "/customers/cern/" } Read the Case Study

      .col-md-6.col-md-offset-1.u-padding-left-0.hidden-sm.hidden-xs
        .slide-media
          .slide-media-bg{ style: "background-image: url('/images/customers/cern-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.col-md-offset-1.col-md-push-6.u-flex.u-vert-center
        = image_tag "images/case_study_logos/ifarm-logo.svg", alt: "iFarm Logo svg", style: "height: 80px;"

        %h4 Agriculture Technology
        %h3 iFarm plants the seeds for operational efficiency

        .btn-group
          %a.btn.cta-btn.orange.margin-top20{ href: "/customers/ifarm/" } Read the Case Study
      .col-md-6.col-md-pull-6.u-padding-right-0.hidden-sm.hidden-xs
        .slide-media.slide-media--alt
          .slide-media-bg{ style: "background-image: url('/images/blogimages/ifarm-case-study-image.png')" }
