- reconfigure_command = 'sudo gitlab-ctl reconfigure'
- backup_command = 'sudo gitlab-rake gitlab:backup:create STRATEGY=copy'
- copy_tooltip = 'Copy to clipboard'

%h4
  1. Make a backup
%p
  Before upgrading make a backup of all application data. The backup will be archived in
  %code /var/opt/gitlab/backups
  by default.
%pre.command
  = backup_command
  %button{ copy_btn_options(backup_command) }
    %i.fa.fa-clipboard{ aria: { label: copy_tooltip } }
%h4
  2. Upgrade to Enterprise Edition
%p
  The GitLab EE package installs directly over top of the CE version, replacing it.
  These instructions will install the most recent version of GitLab,
  if you'd like to use the same version please
  %a{ href: "http://docs.gitlab.com/omnibus/update/README.html#from-community-edition-to-enterprise-edition" }
    consult our documentation.
%p

  Add the GitLab EE package repository.
%pre.command
  = "#{platform.download_command}"
  %button{ copy_btn_options("#{platform.download_command}") }
    %i.fa.fa-clipboard{ aria: { label: copy_tooltip } }
%p
  Next, install GitLab Enterprise Edition package.
%pre.command
  = "#{platform.install_command}"
  %button{ copy_btn_options("#{platform.install_command}") }
    %i.fa.fa-clipboard{ aria: { label: copy_tooltip } }
%h4
  3. Add Enterprise Edition License
%p
  To make use of the new EE features a license needs to be added via the web interface.
  Log in to your GitLab instance as an administrator, and a notification will appear to
  = succeed "." do
    = link_to "upload the license", "https://docs.gitlab.com/ee/user/admin_area/license.html", target: "_blank", rel: "noopener noreferrer nofollow"
  If a license is not uploaded it will operate as Community Edition.
