.navbar {
  background: $color-white;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $navbar-height;
  font-size: .9em;
  z-index: 1000;
  box-shadow: $box-shadow;
  transition: $transition-primary;

  // Standard tags

  li {
    list-style: none;
    white-space: nowrap;
    padding: 4px 0;
  }

  a {
    color: $color-gray;
    border-radius: $border-radius-large;
    padding: 0 20px;
  }

  .search-icon,
  .search-box-icon {
    font-size: 14px;
  }

  .search-icon {
    padding: 10px;
    margin-right: 6px;
  }

  // Logo side

  .navbar-left {

    .navbar-brand {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-logo {

        @media all and (max-width: $screen-md-min) {
          height: 30px;
        }
      }

      .wordmark {

        @media all and (max-width: $screen-md-min) {
          display: none;
        }
      }
    }
  }

  // Mobile stuff

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $color-white;
    padding: 30px;
    padding-bottom: 120px;
    overflow-y: scroll;
    font-size: 1.2em;

    ul {
      margin: 0;
      padding: 0;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .sign-up-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding: 6px;
        background: $color-white;

        li {
          width: 100%;
          padding: 0;
          padding-top: 6px;
          display: flex;

          &:first-child {
            margin-right: 6px;

            @media all and (max-width: $screen-xs-min) {
              margin-right: 0;
            }
          }

          .sign-up {
            width: 100%;
            background: $color-primary;
            color: $color-white;
            font-size: .9em;
          }
        }

        @media all and (max-width: $screen-xs-min) {
          flex-direction: column;
        }
      }
    }

    li {
      padding-top: 40px;
      text-align: center;
      opacity: 0;
      transform: translateY(40px);

      a {
        padding: $input-padding;
      }

      .main-nav-link {
        color: $color-primary;
        font-weight: 600;
      }

      .dropdown {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        a {
          font-weight: 400;
          color: $color-gray;
        }
      }
    }

    .search-icon {
      display: none;
    }

    .exit-icon-container {
      position: fixed;
      width: 34px;
      right: 34px;
      top: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      z-index: 100;

      img {
        width: 100%;
      }
    }
  }

  .mobile-icons {
    display: none;
    justify-content: center;
    align-items: center;

    .mobile-icon {
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 40px;
      border: 0;
      margin-left: 10px;

      .icon-bar {
        height: 2px;
        width: 24px;
        border-radius: $border-radius-circle;
        background: $color-primary;

        &:not(:first-child) {
          margin-top: 5px;
        }
      }
    }

    @media all and (max-width: $screen-md-min) {
      display: flex;
    }
  }

  // Right side

  .navbar-right {
    height: 100%;

    ul {
      height: 100%;
      display: flex;
      margin: 0;

      li {
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        a,
        .search-icon {
          border-radius: $border-radius-large;

          &:hover,
          &:focus {
            text-decoration: none;
            background: $color-gray-extra-light-alt;
            color: $color-primary !important;
          }

        }

        .sign-up {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          padding: 0 10px;
        }

        .main-nav-link:not(.sign-up) {
          width: 100%;
          height: 100%;
          padding: 0 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          @media all and (max-width: $screen-lg-min) {
            padding: 0 10px;
          }
        }

        &:hover,
        &:focus-within {
          overflow: visible;

          .dropdown {
            opacity: 1;
            transform: translateY(0);
          }
        }

        .dropdown {
          position: absolute;
          transform: translateY(3px);
          top: 100%;
          left: 0;
          width: 240px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          background: $color-white;
          box-shadow: $box-shadow-large;
          border-radius: $border-radius-large;
          opacity: 0;
          transform: translateY(20px);
          transition: $transition-primary;
          z-index: 100;

          a {
            padding: $input-padding;
            text-decoration: none;
            color: $color-gray !important;
            border-radius: $border-radius-large;

            &:hover,
            &:focus {
              color: $color-primary !important;
            }
          }
        }
      }
    }

    @media all and (max-width: $screen-md-min) {
      display: none;
    }
  }

  .sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sign-up,
  .search-icon {
    color: $color-primary;
  }

  .search-visible {
    height: $navbar-height;
    box-shadow: 0 2px 4px $color-transparent-alt;
  }

  @media all and (max-width: $screen-lg-min) {
    padding: 0 20px;
  }
}

// Dark version, overrides should be here since class is removed

.navbar-header-dark {
  background: $color-primary;
  border-bottom: 0;
  box-shadow: none !important;

  .sign-up {
    color: $color-white !important;
  }

  .navbar-left {

    .wordmark {
      fill: $color-white;
    }
  }

  .mobile-icons {

    .icon-bar {
      background: $color-white !important;
    }

    .search-icon {
      color: $color-white;
    }
  }

  a,
  .search-icon {
    color: $color-white;
  }

  .search-box {
    background: $color-primary;

    .search-input,
    .search-box-icon,
    .search-close {
      color: $color-white;
      background: transparent;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color-transparent-white-alt;
    }

    ::-moz-placeholder { /* Firefox 19+ */
      color: $color-transparent-white-alt;
    }

    :-ms-input-placeholder { /* IE 10+ */
      color: $color-transparent-white-alt;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $color-transparent-white-alt;
    }
  }
}

// Transparent version, overrides should be here since class is removed

.navbar-header-transparent {
  background: transparent;
  border-bottom: 0;
  box-shadow: none !important;

  .sign-up {
    color: $color-white !important;
  }

  .navbar-left {

    .wordmark {
      fill: $color-white;
    }
  }

  .navbar-right {
    height: 100%;

    ul {

      li {

        a,
        .search-icon {

          &:hover,
          &:focus {
            text-decoration: none;
            background: $color-transparent-alt !important;
            color: $color-white !important;
          }
        }
      }
    }
  }

  .mobile-icons {

    .icon-bar {
      background: $color-white !important;
    }

    .search-icon {
      color: $color-white;
    }
  }

  a,
  .search-icon {
    color: $color-white;
  }

  .search-box {
    background: $hero-gradient;

    .search-input,
    .search-box-icon,
    .search-close {
      color: $color-white;
      background: transparent;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color-transparent-white-alt;
    }

    ::-moz-placeholder { /* Firefox 19+ */
      color: $color-transparent-white-alt;
    }

    :-ms-input-placeholder { /* IE 10+ */
      color: $color-transparent-white-alt;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $color-transparent-white-alt;
    }
  }
}
