---
layout: default
title: Contact Sales
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
extra_js:
  - faq.js

---
.wrapper
  .simple-header
    %h1 Contact Sales
  .centered-form
    .centered-form-info
      If your question isn't answered in the 
      %a{href: "#faq"} FAQ
      below, please contact our sales team
      and someone will get back to you within one business day. If you need technical help, visit our
      %a{href: "/support/#contact-support"} support
      page.
      %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.

    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1415
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1415, function(form) {
        form.onSuccess(function() {
          form.getFormElem().hide();
          $('.confirmform').show();
          return false;
        });
      });
    .confirmform{style: "display:none;"}
      %h3 Submission received!
      %p We'll be in contact shortly.

.content-container.animated
  .container#faq
    %h2.faq-title.light.text-center
      Frequently Asked Questions
    .faq-holder.clearfix
      - questions = data.sales_faq.questions
      - size = (questions.size / Float(2)).ceil
      - questions.each_slice(size).to_a.each do |group|
        = partial "includes/layout/question_group", locals: { group: group }

= partial "includes/home/customer-logos-transparent"