---
layout: markdown_page
title: "Product Vision - Create"
---

- TOC
{:toc}

This is the product vision for Create. The Create stage of the DevOps lifecycle
covers code creation, which includes source code management (Git, Git LFS etc),
merge requests, wiki, snippets and Web IDE. Please read through to understand
where we're headed and feel free to jump right into the discussion by commenting
on one of the epics or issues, or by reaching out directly to our product
manager leading this area: [James Ramsay](https://gitlab.com/jramsay) ([E-Mail](mailto:jramsay@gitlab.com)
| [Twitter](https://twitter.com/jamesramsay))

- [Detailed 3-month roadmap](https://gitlab.com/groups/gitlab-org/-/boards/706329?label_name[]=Create&label_name[]=direction)
- [High level roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?label_name%5B%5D=devops%3Acreate&scope=all&sort=end_date_asc&state=opened&layout=QUARTERS)

## Landscape

Git's distributed design made new collaborative workflows possible, and has been
adopted rapidly over the last decade. Powerful simplifying concepts like forking
and merge requests have been embraced in the everyday routines of nearly every
developer, yet few significant changes have been made in recent years to embrace
the global scale of collaboration between open source and private companies, or
improve the way complex real world code is written, reviewed and merged.

GitLab has made it faster and easier to get ideas into production by creating a
single integrated application. This is just the beginning. Greater maturity in
the tools we use for creating, collaborating and reviewing will make it easier
for everyone to start contributing, engineers to work better together, improve
quality and build better application faster. It is still day one.

<%= partial("direction/categories", :locals => { :stageKey => "create" }) %>

## Important Concepts

❤️ **More Complete (Minimally Lovable) Features to Solve Complex Problems**

We build software with small mininal iterations, but at the same time we need to
continue to improve the features that are proven to be valuable into complete,
lovable features that exceed our users expectations.

This is particularly pertinent to the Create stage of the DevOps lifecycle which
is relatively mature and the foundation on which GitLab is built.

✌️ **Amplify Best Practices**

Focussing on reducing the cycle time of development can result in good habits
being forgotten. We should amplify the benefits of following the best practices
when writing and reviewing code, so that when our customers grow we've helped
build a foundation that will help them move even faster.

🌊 **Flow**

Being a single application provides unqiue opportunities to features that
connect different parts of the GitLab application, with greater efficiency, or
in entirely new ways. We must balance creating flows between stages of the
DevOps lifecycle and the flows and feedback loops within the Create stage too.

- **Q1 2019**
  - [Group merge request](https://gitlab.com/gitlab-org/gitlab-ee/issues/3427)
  - ✌️🌊 [Code review on any line on any file in a merge request](https://gitlab.com/groups/gitlab-org/-/epics/19)
  - ❤️ [Multiple assignees](https://gitlab.com/gitlab-org/gitlab-ee/issues/2004)
  - ✌️ [Smarter squash and merge](https://gitlab.com/gitlab-org/gitlab-ce/issues/47149)
  - [Live preview changes before committing in Web IDE](https://gitlab.com/groups/gitlab-org/-/epics/170)
  - **New category** [Design management](https://gitlab.com/groups/gitlab-org/-/epics/370)
- **Q2 2019**
  - ✌️❤️ [Commit messages as part of code review](https://gitlab.com/groups/gitlab-org/-/epics/286)
  - ✌️ [API for line by line code quality feedback](https://gitlab.com/gitlab-org/gitlab-ce/issues/50299)
  - Forking
    - [compare branches](https://gitlab.com/gitlab-org/gitlab-ce/issues/19788)
    - [cherry pick](https://gitlab.com/gitlab-org/gitlab-ce/issues/43568)
    - [inherit permissions](https://gitlab.com/gitlab-org/gitlab-ce/issues/8935)
  - ❤️ [Edit MR inline](https://gitlab.com/gitlab-org/gitlab-ce/issues/36241)
- **Q3 2019**
  - [Commit by commit code review](https://gitlab.com/groups/gitlab-org/-/epics/285)
  - [Distributed merge requests](https://gitlab.com/groups/gitlab-org/-/epics/260)
  - [Live linting feedback in the Web IDE](https://gitlab.com/groups/gitlab-org/-/epics/70)
  - **New category** [Live shared programming in Web IDE](https://gitlab.com/groups/gitlab-org/-/epics/198)
- **Q4 2019**
  - [Review changes since code review](https://gitlab.com/groups/gitlab-org/-/epics/314)
  - [Merge request diffs smarter](https://gitlab.com/groups/gitlab-org/-/epics/340)

## Prioritization Process

We follow the same [prioritization guidelines](/handbook/product/#prioritization)
as the product team at large. When prioritizing new features and significant
improvements we consider reach, impact, confidence and effort to find the most
valuable improvements. This is based on
[RICE: Simple prioritization for product managers](https://www.intercom.com/blog/rice-simple-prioritization-for-product-managers/).
Requests from customers and upvotes are an important signal for this process.

The 'Create: RICE scoring' spreadsheet is available on Google Drive to all
GitLab staff. The spreadsheet is not public because it contains sensitive
customer information.

Our entire public backlog for Create can be viewed
[here](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&state=opened&label_name[]=devops%3Acreate),
and can be filtered by labels or milestones. If you find something you are
interested in, you're encouraged to jump into the conversation and participate.
At GitLab, everyone can contribute!

Issues with the "direction" label have been flagged as being particularly
interesting, and are listed in the sections below.

## Direction

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "create" }) %>
