%ul
  %li{class: ("menu-item-active" if current_page.url == "/product/")}
    %a.main-nav-link{href: "/why/"} Why GitLab?
    .dropdown
      %a.main-nav-sub-link{href: "/product/"} Product
      %a.main-nav-sub-link{href: "/solutions/"} Solutions
      %a.main-nav-sub-link{href: "/services/"} Services
      %a.main-nav-sub-link{href: "/stages-devops-lifecycle/"} DevOps lifecycle
      %a.main-nav-sub-link{href: "/devops-tools/"} DevOps tools
      %a.main-nav-sub-link{href: "/is-it-any-good/"} Is it any good?
      %a.main-nav-sub-link{href: "/get-started/"} Get started
  %li
    %a.main-nav-link{href: "/resources/"} Resources
    .dropdown
      %a.main-nav-sub-link{href: "/blog/"} Blog
      %a.main-nav-sub-link{href: "/company/contact/"} Newsletter
      %a.main-nav-sub-link{href: "/events/"} Events
      %a.main-nav-sub-link{href: "/topics/"} Topics
      %a.main-nav-sub-link{href: "/training/"} Training
      %a.main-nav-sub-link{href: "https://docs.gitlab.com/"} Docs
      %a.main-nav-sub-link{href: "/install/"} Install
  %li{class: ("menu-item-active" if current_page.url.include? "/community/")}
    %a.main-nav-link{href: "/community/"} Community
    .dropdown
      %a.main-nav-sub-link{href: "/customers/"} Customers
      %a.main-nav-sub-link{href: "/contributing/"} Contribute
      %a.main-nav-sub-link{href: "/community/evangelists/"} Evangelist Program
      %a.main-nav-sub-link{href: "/partners/"} Partners
      %a.main-nav-sub-link{href: "/resellers/"} Resellers
      %a.main-nav-sub-link{href: "https://gitlab.com/explore"} Explore repositories
      %a.main-nav-sub-link{href: "/direction/"} Direction
  %li{class: ("menu-item-active" if current_page.url == "/get-help/")}
    %a.main-nav-link{href: "/get-help/"} Support
    .dropdown
      %a.main-nav-sub-link{href: "/get-help/"} Get help
      %a.main-nav-sub-link{href: "/sales/"} Contact Sales
      %a.main-nav-sub-link{href: "/support/#contact-support"} Contact Support
      %a.main-nav-sub-link{href: "/support/"} Support options
  %li{class: ("menu-item-active" if current_page.url == "/pricing/")}
    %a.main-nav-link{href: "/pricing/"} Pricing
    .dropdown
      %a.main-nav-sub-link{href: "/free-trial"} Free trial
      %a.main-nav-sub-link{href: "/pricing/#self-managed"} Self-managed
      %a.main-nav-sub-link{href: "/pricing/#gitlab-com"} GitLab.com
  %li{class: ("menu-item-active" if current_page.url == "/Company/")}
    %a.main-nav-link{href: "/company/"} Company
    .dropdown
      %a.main-nav-sub-link{href: "/jobs/"} Jobs
      %a.main-nav-sub-link{href: "/company/culture/"} Culture
      %a.main-nav-sub-link{href: "/press/"} Press
      %a.main-nav-sub-link{href: "/analysts/"} Analysts
      %a.main-nav-sub-link{href: "/handbook/"} Handbook
      %a.main-nav-sub-link{href: "/strategy/"} Strategy
  %li
    %button.search-icon.js-search-toggle{ type: "button", "aria-label" => "Search" }
      %i.fa.fa-search
  .sign-up-container
    %li.nosubmenu
      %a.main-nav-link.sign-up{href: "https://gitlab.com/users/sign_in"}
        Sign in
    %li.nosubmenu
      %a.main-nav-link.sign-up{href: "https://gitlab.com/users/sign_in#register-pane"}
        Register
